extends layout

block content
  #section
    .navigation 
      .logo
        svg(width='100%', height='100%', viewbox='0 0 200 100', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
          g(transform='matrix(1,0,0,1,-25.9696,5.23058)')
            g#Layer1
              g
                g
                  g(transform='matrix(1.41015,0,0,1.41015,-59.6937,13.474)')
                    text(x='64.911px', y='39.462px', style='font-family:Exo;font-size:50px;font-weight:200;fill:url(#_Linear1);') ziviso
                  g(transform='matrix(0.0693671,0.0799938,-0.052648,0.045654,196.936,-3.48252)')
                    path(d='M256.1,96C176.2,96 100.4,125.9 42.2,180.1L32,189.6L41.9,199.4L74.2,231.4L83.5,240.6L93.1,231.8C137.6,190.9 195.4,168.3 255.9,168.3C316.4,168.3 374.3,190.9 418.7,231.8L428.3,240.6L437.6,231.4L469.9,199.4L479.8,189.6L469.6,180.1C411.6,125.9 335.7,96 256.1,96Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
                  g(transform='matrix(0.0693671,0.0799938,-0.0426225,0.0369603,194.08,-0.155176)')
                    path(d='M397.4,256.4C358.6,221.3 308.5,202 256.3,202L256.2,202L255.9,202L247.4,202L247.3,202.2C198.1,204.2 151.3,223.3 114.7,256.4L104.2,265.9L114.3,275.9L147,308.3L156.1,317.3L165.7,308.9C191,286.7 223.1,274.4 256,274.4C289.1,274.4 321.2,286.7 346.5,308.9L356.1,317.3L365.2,308.3L397.9,275.9L408,265.9L397.4,256.4Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
                  g(transform='matrix(0.0450606,0.0519637,-0.0276874,0.0240093,192.46,14.6214)')
                    path(d='M397.4,256.4C358.6,221.3 308.5,202 256.3,202L256.2,202L255.9,202L247.4,202L247.3,202.2C198.1,204.2 151.3,223.3 114.7,256.4L104.2,265.9L114.3,275.9L147,308.3L156.1,317.3L165.7,308.9C191,286.7 223.1,274.4 256,274.4C289.1,274.4 321.2,286.7 346.5,308.9L356.1,317.3L365.2,308.3L397.9,275.9L408,265.9L397.4,256.4Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
          defs
            lineargradient#_Linear1(x1='0', y1='0', x2='1', y2='0', gradientunits='userSpaceOnUse', gradienttransform='matrix(102.609,-23.7825,23.7825,102.609,81.5995,38.9608)')
              stop(offset='0%', style='stop-color:rgb(13,164,255);stop-opacity:1')
              stop(offset='100%', style='stop-color:rgb(4,242,250);stop-opacity:1')

      .log-in
        a(href="/") About Us
        a.large.button(href="/") Log In
        
    .body-text.row 
      .text.large-8.columns
        p Ziviso is a world class application that will enable you to speak with your customers, community in a simple and direct way.
        |  The app for delivering information to your community/customers.
    .zi-button
      .row 
        a.large.button(href="/") Register Account Now
        a.secondary.large.button(href="/") Contact Us

  .section.one
    .row 
      .text.large-8.large-offset-2.columns
        p Ziviso is an easy-to-use mobile phone application** which allows organisations to communicate with their customers, clients, and staff, to ensure that important information is sent and delivered quickly and efficiently. Use Ziviso to send member notices, updates, school notices, event notifications, gym schedules, news items, and much more. Ziviso costs a fraction of the cost of printed notices, and messages are delivered within seconds! 
        | ** Email and Sms options are also available.

  .section.two 
    .row 
      .title.large-12.columns
        h2 How It Works
    .row
      .text.large-6.columns
        h3 Organisation
        p After your organisation has been set up with a Ziviso account, members can download the Ziviso app onto their phones, and start receiving messages instantly. Send your messages via an easy-to-use web portal, and recipients receive the messages on their mobile phones via the Ziviso app, within seconds. The portal is straightforward and requires no technical knowledge or training – just type your message, select a group of recipients and your message is delivered to their phones straight away. 
        .row 
          a.large.button(href="/") Register Account Now

      .image.large-6.columns

  .section.three 
    .row 
      .image.large-6.columns

      .text.large-6.columns
        h3 Members
        p Your community recieves the messages via the mobile application, sms and or email. Making communication simple and efficient.
        h5  Email and Sms options 
        p If some of your recipients prefer to receive messages by sms or email, you can use Ziviso’s in-built sms and email options to allow you to communicate with your customers and members in a way that suits them.
        a.expand.button(href="/") Download iOS
        a.secondary.button(href="/") Download Android
        
  footer.footer
    .row
      .small-12.columns
        .logo
          svg(width='100%', height='100%', viewbox='0 0 200 100', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
            g(transform='matrix(1,0,0,1,-25.9696,5.23058)')
              g#Layer1
                g
                  g
                    g(transform='matrix(1.41015,0,0,1.41015,-59.6937,13.474)')
                      text(x='64.911px', y='39.462px', style='font-family:Exo;font-size:50px;font-weight:200;fill:url(#_Linear1);') ziviso
                    g(transform='matrix(0.0693671,0.0799938,-0.052648,0.045654,196.936,-3.48252)')
                      path(d='M256.1,96C176.2,96 100.4,125.9 42.2,180.1L32,189.6L41.9,199.4L74.2,231.4L83.5,240.6L93.1,231.8C137.6,190.9 195.4,168.3 255.9,168.3C316.4,168.3 374.3,190.9 418.7,231.8L428.3,240.6L437.6,231.4L469.9,199.4L479.8,189.6L469.6,180.1C411.6,125.9 335.7,96 256.1,96Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
                    g(transform='matrix(0.0693671,0.0799938,-0.0426225,0.0369603,194.08,-0.155176)')
                      path(d='M397.4,256.4C358.6,221.3 308.5,202 256.3,202L256.2,202L255.9,202L247.4,202L247.3,202.2C198.1,204.2 151.3,223.3 114.7,256.4L104.2,265.9L114.3,275.9L147,308.3L156.1,317.3L165.7,308.9C191,286.7 223.1,274.4 256,274.4C289.1,274.4 321.2,286.7 346.5,308.9L356.1,317.3L365.2,308.3L397.9,275.9L408,265.9L397.4,256.4Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
                    g(transform='matrix(0.0450606,0.0519637,-0.0276874,0.0240093,192.46,14.6214)')
                      path(d='M397.4,256.4C358.6,221.3 308.5,202 256.3,202L256.2,202L255.9,202L247.4,202L247.3,202.2C198.1,204.2 151.3,223.3 114.7,256.4L104.2,265.9L114.3,275.9L147,308.3L156.1,317.3L165.7,308.9C191,286.7 223.1,274.4 256,274.4C289.1,274.4 321.2,286.7 346.5,308.9L356.1,317.3L365.2,308.3L397.9,275.9L408,265.9L397.4,256.4Z', style='fill:rgb(5,234,251);fill-rule:nonzero;')
            defs
              lineargradient#_Linear1(x1='0', y1='0', x2='1', y2='0', gradientunits='userSpaceOnUse', gradienttransform='matrix(102.609,-23.7825,23.7825,102.609,81.5995,38.9608)')
                stop(offset='0%', style='stop-color:rgb(13,164,255);stop-opacity:1')
                stop(offset='100%', style='stop-color:rgb(4,242,250);stop-opacity:1')

        p.slogan Communications app of the future
        //- p.links
        //-   a(href='#') Home
        //-   a(href='#') Blog
        //-   a(href='#') Pricing
        //-   a(href='#') About
        //-   a(href='#') Faq
        //-   a(href='#') Contact
        p.copywrite © Ziviso Innovations 2016
